# Python 緩存檔案
__pycache__/
*.py[cod]
*$py.class

# 忽略 data 目錄內的所有檔案，但保留 data 目錄本身
data/*
!data/.gitkeep

# 忽略 ig_data 目錄內的所有檔案，但保留 ig_data 目錄本身
ig_data/*
!ig_data/
!ig_data/.gitkeep

# 忽略 media 目錄內的所有檔案，但保留 media 目錄本身
media/*
!media/.gitkeep

# 忽略 logs 目錄內的所有檔案，但保留 logs 目錄本身
logs/*
!logs/.gitkeep

# 忽略 langflow-postgres 目錄內的所有檔案，但保留 langflow-postgres 目錄本身
langflow-data/*
!langflow-data/.gitkeep

# 忽略 langflow-redis 目錄內的所有檔案，但保留 langflow-redis 目錄本身
langflow-postgres/*
!langflow-postgres/.gitkeep


# 但保留 env 目錄本身
env/network.env

# 忽略 streamlit_app 目錄內的IG Data和media資料夾
streamlit_app/media/*
streamlit_app/ig_data/*
