# Proxy Settings
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1,postgres,vllm

# Elasticsearch Settings
DISCOVERY_TYPE=single-node
XPACK_SECURITY_ENABLED=false
ES_HOST=http://elasticsearch:9200

# Streamlit Settings
STREAMLIT_SERVER_MAX_UPLOAD_SIZE=1000

# Azure OpenAI Key
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION="2025-01-01-preview"
OPENAI_API_VERSION="2025-01-01-preview"
AZURE_DEPLOYMENT_NAME="gpt-4.1"

# 預設推薦問題設定
DEFAULT_SUGGESTIONS="列出可以用的工具, 目前有多少筆披薩相關的貼文, 推薦義大利麵"
